@font-face{
	font-family:ubuntu;
	src: url('Ubuntu-L.ttf');
}

.test {
	border:solid 1px #333;
	text-align:center;
	color:#fff;
}

body {
    background-color:#282828;
	
    font-family:ubuntu,sans-serif;
    font-size:medium;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}

.button {
	position:relative;
	text-align:center;
	width:100%;
	max-width:960px;
	margin:5px auto;
	padding:6px;
	border:solid 1px;
	border-radius:3px;
    font-family:ubuntu,sans-serif;
}

.button.red{
	background-color:#ed1c24;
}
.button.blue{
	background-color:#00aeef;
}
.button.green{
	background-color:#39b54a;
}
.button.yellow{
	background-color:#fff568;
}