@font-face{
	font-family:ubuntu;
	src: url('Ubuntu-L.ttf');
}

.test {
	border:solid 1px #333;
	text-align:center;
	color:#fff;
}

html , body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
    background-color:#fff;
    font-family:ubuntu,sans-serif;
    font-size:medium;
}

div {
	position:relative;
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.button {
	position:relative;
	text-align:center;
	width:100%;
	max-width:960px;
	margin:5px auto;
	padding:6px;
	border:solid 1px;
	border-radius:3px;
    font-family:ubuntu,sans-serif;
}

.container {
	width:100%;
	height:100%;
	overflow:auto;
	background-color:#e0e2e1;
}

.gradient {
    background-color:#e0e2e1;
    background-image:linear-gradient(top, #e0e2e1 0%, #e2e1df 100%);
    background-image:-webkit-linear-gradient(top, #e0e2e1 0%, #e2e1df 100%);
    background-image:-ms-linear-gradient(top, #e0e2e1 0%, #e2e1df 100%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e0e2e1),
        color-stop(1, #e2e1df)
    );

}

header,footer {
	background-color:#333;
	position:relative;
	padding:5px;
	margin:0px;
	min-height:50px;
	height:auto;
	width:100%;
	color:#eee;
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

#body {
	padding:5px;
}

.content-data {
	
}