@font-face{
	font-family:ubuntu;
	src: url('Ubuntu-M.ttf');
}

.test {
	border:solid 1px #333;
	text-align:center;
	color:#fff;
}

html , body {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
    background-color:#282828;
    font-family:ubuntu,sans-serif;
    font-size:medium;
}

div {
	position:relative;
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.button {
	position:relative;
	text-align:center;
	width:100%;
	max-width:960px;
	margin:5px auto;
	padding:6px;
	border:solid 1px;
	border-radius:3px;
    font-family:ubuntu,sans-serif;
}

.button.red{
	background-color:#ed1c24;
}
.button.blue{
	background-color:#00aeef;
}
.button.green{
	background-color:#39b54a;
}
.button.yellow{
	background-color:#fff568;
}

.container {
	width:100%;
	height:100%;
	border:solid 1px;
}

header {
	position:relative;
	background-color:#ed1c24;
	padding:5px;
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

footer {
	position:relative;
	background-color:#00aeef;
	padding:5px;
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

#body {
	background-color:#39b54a;
	padding:5px;
}